@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('/font/RedHatText-Regular.ttf');
    font-display: swap;
}

:root {
    --webkit-scrollbar-width: auto;
    --webkit-scrollbar-color: #f0f0f0 #070606;
}

html {
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 16px; /* width of the entire scrollbar */
    z-index: 1;
}

body::-webkit-scrollbar-track {
    background: #070606; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #f0f0f0; /* color of the scroll thumb */
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    background: #f0f0f0;
    color: #070606;
    width: 100%;
    padding: 8px 14px;
    margin-bottom: 16px;
    border-radius: 8px;
    letter-spacing: 1px;
}

input:focus input::before {
    content: '';
    width: 16px;
    height: 16px;
    background: #070606;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}

input:focus,
textarea:focus {
    outline: none;
}

.btn {
    box-shadow: 6px 6px 0 #f0f0f0;
    transition: all 0.2s ease;
}

.btn:hover {
    box-shadow: 6px 6px 0 #8e5bd6, -6px -6px 0 #f0f0f0;
}

button:focus,
.btn:focus {
    outline: 2px solid #f0f0f0;
}

.navbar-collapse button:focus {
    outline: none;
}

#home {
    background-image: url('/img/pattern.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.font-red-hat {
    font-family: 'Red Hat Text', sans-serif;
}

.white {
    color: #f0f0f0;
}

.hero-image {
    min-width: 180px;
}

.header-shadow {
    background: -webkit-linear-gradient(
        rgba(122, 119, 119, 0.1) 30%,
        rgba(122, 119, 119, 0) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #121212;
    filter: blur(.3px);
}

.light {
    height: 30px;
    width: 30px;
    min-width: 30px;
}

.socmed {
    height: 24px;
    width: 24px;
    min-width: 20px;
    min-height: 20px;
}

.skill-desc-card {
    transition: transform 0.5s ease;
}

.skill-card:hover .skill-desc-card {
    transform: translate(0);
}

.border-box {
    position: relative;
    z-index: 999;
}

.navbar-collapse {
    transition: display visibility 0.3s ease-in-out;
    animation: navbar-collapse 0.3s ease-in-out forwards;
}

@keyframes navbar-collapse {
    from {
        left: -600px;
    }
    to {
        left: 0;
    }
}

@media (max-width: 423px) {
    #skills .skill-cards {
        display: flex;
        flex-direction: column;
    }

    #projects .project-card {
        padding: 0;
    }

    #projects .project-card p:nth-child(1) {
        letter-spacing: 0;
    }
}

@media (max-width: 639px) {
    header {
        background: #070606;
    }
}

@media (min-width: 640px) {
    header {
        background: #121212 !important;
        box-shadow: 0.5px 0 3px #070606ab;
    }
}

@media (min-width: 1248px) {
    body {
        font-size: 1.3em;
    }

    .container {
        max-width: 1456px;
    }
}

.disable-scroll {
    overflow-y: hidden;
}